<!doctype html>
<title>Test img</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="{{ url_for('static', filename='modernizr.custom.46884.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.slicebox.js') }}"></script>

<body>
<form method="POST">
    <div class="wrapper">

        <ul id="sb-slider" class="sb-slider">
            {% for image in images %}
                <li>
                    <input type="hidden" name={{ "star-value-{0}".format(image) }} value="0">
                    <a href="#"><img
                            src="{{ url_for('static', filename='images/{0}.jpg'.format(image)) }}"
                            alt="image1"/></a>

                    <div class="sb-description">
                        <h3>Blah</h3>
                    </div>


                </li>

            {% endfor %}
        </ul>

        <div id="shadow" class="shadow"></div>

        <div id="nav-arrows" class="nav-arrows">
            <a href="#">Next</a>
            <a href="#">Previous</a>
        </div>
        <div class="star-rating">
            <div class="star-rating__wrap">
                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
</form>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='slicer.js') }}"></script>